easydict==1.13
imageio==2.36.1
matplotlib==3.10.0
numpy==2.2.1
pandas==2.2.3
pillow==11.1.0
protobuf==5.29.3
PyYAML==6.0.2
scikit-image==0.25.0
scikit-learn==1.6.1
scipy==1.15.1
setuptools==75.8.0
sympy==1.13.1
torch==2.5.1
torchmetrics==1.6.1
torchvision==0.20.1
tqdm==4.67.1
wandb==0.19.3